<!-- 
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

<form (ngSubmit)="Insert()">
    <legend>Add Employee</legend>

    <div class="form-group">
        <label for="">Client Id</label>
        <input type="text" class="form-control" 
                id="cid" name="cid" placeholder=""
                readonly
                [(ngModel)]="emp.Eno" >
    </div>

    <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" 
                    id="Name" name="Name" placeholder="Name"
                    [(ngModel)]="emp.Name" >
    </div>

    <div class="form-group">
            <label for="">Email</label>
            <input type="email" class="form-control" 
                    id="email" name="email" placeholder=""
                    [(ngModel)]="emp.Age" >
        </div>
    <div class="form-group">
        <label for="">Mobile No</label>
        <input type="number" class="form-control" 
                id="mobileno" name="mobileno" placeholder=""
                [(ngModel)]="emp.Age" >
    </div>
    <div class="form-group">
        <label for="">Address</label>
        <textarea name="address" id="address" cols="30" rows="10">
            
        </textarea>
        <input type="email" class="form-control" 
                id="email" name="email" placeholder=""
                [(ngModel)]="emp.Age" >
    </div>
    <button type="submit" class="btn btn-primary"> Insert </button>
</form>
</div>-->
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <style>
        body,html {
                height: 100%;
                }
                .bg-img{
                        background-image: url("assets/images/background1.jpg");

                min-height: 750px;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                }
        </style>
</head>
<body class="bg-img">
                <!-- <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

                        </div> -->
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="jumbotron" style="opacity: 0.9; background-color:lavenderblush; height: 700px; width: 600px">

                                <div class="container">
                                        <form (ngSubmit)="onAdd()">
                                                        <h2 style="text-align: center">Details</h2>
                                                        <div class="row">
                                                        <div class="col-md-3"></div>
                                                        <div class="col-md-6">
                                                                <div class="form-group">
                                                                <label for="">Client Id</label>
                                                                <input type="text" class="form-control" id="cid" 
                                                                        name="cid" readonly >
                                                                </div>
                                                                <div class="form-group">
                                                                <label for="">Name</label>
                                                                <input type="text" class="form-control" id="name" 
                                                                        name="name" readonly>
                                                                </div>
                                                                <div class="form-group">
                                                                <label for="">Email</label>
                                                                <input type="email" class="form-control" id="email" 
                                                                        name="email" readonly>
                                                                </div>
                                                                <div class="form-group">
                                                                <label for="">Mobile No</label>
                                                                <input type="number" class="form-control" id="mobileno" 
                                                                        name="mobileno">
                                                                </div>
                                                                <div class="form-group">
                                                                <label for="">Address</label>
                                                                <textarea class="form-control" cols="30" rows="7" id="address" name="address"></textarea>
                                                                </div>
                                                        
                                                                <div class="form-group">
                                                                <button type="submit" class="btn btn-success">Insert</button>    
                                                                </div>
                                                        </div>
                                                        </div>
                                                </form>
                                
                        </div>
                        </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        
                                </div>  
                         
</body>
</html>